@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --color-primary: #703b1c;
    --color-secundary: #482b1a;
    --color-tercary: #897853;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 100vh;
}

/****************************** HEADER ******************************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    border-bottom: 2px solid var(--color-primary);
}

.header .header-title {
    margin-left: 50px;
    font-family: 'Yellowtail', cursive;
    font-size: 60px;
    font-weight: bold;
    color: var(--color-primary);
}

.header .navbar {
    width: 400px;
    margin-right: 50px;
}

.header .navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header .navbar ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-primary);
}


/****************************** HOME ******************************/


.philosophy-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.philosophy-text {
    width: 600px;
    height: 400px;
    margin-top: 100px;
}

.philosophy-text .philosophy-title {
    text-align: center;
    padding: 12px;
    border-radius: 6px 6px 0 0;
    background-color: #897853;
    color: #EFEFEF;
}

.philosophy-about {
    margin: 0 0 14px 0;
    padding: 18px;
    border-radius: 0 0 6px 6px;
    background-color: #F8F1F1;
}

.philosophy-about p {
    margin-bottom: 8px;
    line-height: 20px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 3.8vw);
    grid-gap: 15px;
    width: 600px;
    height: 600px;
    margin-top: 100px;
    margin-bottom: 100px;
} 

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    transition: all 500ms;
}

.gallery__item--1 img {
    border-radius: 10px 0 0 0;
}

.gallery__item--1:hover {
    scale: 1.03;
}
  
.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    transition: all 500ms;
}

.gallery__item--2:hover {
    scale: 1.03;
}
  
.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
    transition: all 500ms;
}

.gallery__item--3 img {
    border-radius: 0 10px 0 0;
}

.gallery__item--3:hover {
    scale: 1.03;
}
  
.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
    transition: all 500ms;
}

.gallery__item--4:hover {
    scale: 1.03;
}
  
.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
    transition: all 500ms;
}

.gallery__item--5 img {
    border-radius: 0 0 0 10px;
}

.gallery__item--5:hover {
    scale: 1.03;
}
  
.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
    transition: all 500ms;
}

.gallery__item--6 img {
    border-radius: 0 0 10px 0;
}

.gallery__item--6:hover {
    scale: 1.03;
}


/****************************** SOBRE NÓS ******************************/


.about-text {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin: 80px 0 -70px 0;   
}

.arnaldo-section {
    display: flex;
    flex-direction: column;
}

.about-gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
    width: 600px;
    height: auto;
} 

.about-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shoeshop-history,
.arnaldo-history {
    width: 600px;
    height: auto;
}

.shoeshop-history .history-title,
.arnaldo-history .history-title {
    text-align: center;
    padding: 12px;
    border-radius: 6px 6px 0 0;
    background-color: #897853;
    color: #EFEFEF;
}

.shoeshop-history .shoeshop-text,
.arnaldo-history .arnaldo-text {
    margin: 0 0 14px 0;
    padding: 18px;
    background-color: #F8F1F1;
    border-radius: 0 0 6px 6px;
}

.shoeshop-history p,
.arnaldo-history p {
    margin-bottom: 8px;
    line-height: 20px;
    word-spacing: 3px;
    letter-spacing: 1px;
}


/****************************** CATÁLOGO ******************************/


.catalog-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.catalog-page .catalog-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin-bottom: 100px;
    font-size: 28px;
}

.catalog-page .catalog-text p {
    margin: 20px;
}

.catalog-page .catalog-text .fa-sharp {
    margin: 30px 0 50px 0;
    font-size: 50px;
    color: #482b1a;
}

.catalog-text .catalog-navbar {
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color-primary);
}

.catalog-text .catalog-navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.catalog-text .catalog-navbar ul li a{
    text-decoration: none;
    color: #fff;
}

.products {
    width: 100%;
}

.products .bags,
.products .shoes,
.products .others {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.products .bags .card img,
.products .shoes .card img,
.products .others .card img {
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    background-color: #f0f0f0;
}   

.products .bags .card .text-card,
.products .shoes .card .text-card,
.products .others .card .text-card {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #897853;
    color: #fff;
} 

.products .bags .card .text-card p,
.products .shoes .card .text-card p,
.products .others .card .text-card p {
    width: 200px;
    margin: 10px 0 10px 0;
}

.products .bags .card .text-card i,
.products .shoes .card .text-card i,
.products .others .card .text-card i {
    margin-top: 10px;
}

.products .bags .card .shopping,
.products .shoes .card .shopping,
.products .others .card .shopping {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    background-color: #897853;
    color: #fff;
}

.button-top {
    position: fixed;
    bottom: 100px;
    right: 40px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: var(--color-primary);
}

.button-top a {
    font-size: 20px;
    color: #fff;
}


/****************************** CONTATO ******************************/


.contact-section {
    display: flex;
    justify-content: space-evenly;
}

.contact-section .contact-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 80px;
    padding: 20px;
    border-radius: 10px;
    background-color: #897853;
}

.contact-section .contact-form .form-title {
    text-align: center;
    margin-bottom: 20px;
    padding: 6px;
    font-size: 26px;
    color: #fff;
    border-radius: 5px;    
}

.contact-section .contact-form label {
    margin-bottom: 6px;
    font-size: 22px;
    color: #fff;
}

.contact-section .contact-form input {
    width: 100%;
    height: 30px;
    margin-bottom: 18px;
    border: none;
    border-radius: 5px;
}

.contact-section .contact-form select {
    width: 100%;
    height: 32px;
    margin-bottom: 18px;
    border: none;
    border-radius: 5px;
}

.contact-section .contact-form textarea {
    width: 100%;
    height: 70px;
    margin-bottom: 18px;
    border: none;
    border-radius: 5px;
    resize: none;
}

.contact-section .contact-form .contact-button {
    width: 100%;
    height: 36px;
    padding: 6px;
    font-size: 20px;
    border-radius: 5px;
    border: none;   
    background-color: var(--color-secundary);
    color: #fff;
}

.contact-section .store-local {
    margin-top: 40px;
}

.contact-section .store-local img {
    width: 700px;
    border-radius: 10px 10px 0 0;
}

.contact-section .store-local .informations {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    background-color: #897853;
    color: #fff;
    
}

.contact-section .store-local .informations .opening-hours {
    display: flex;
    flex-direction: column;
}

.contact-section .store-local .informations .opening-hours h2,
.contact-section .store-local .informations .address h2 {
    border-bottom: 2px solid #fff;
    margin-bottom: 8px;
}

.contact-section .store-local .informations .opening-hours p {
    width: 240px;
    font-weight: bold;
    color: #482b1a;
}

.contact-section .store-local .informations .address {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-section .store-local .informations .address p {
    font-weight: bold;
    color: #482b1a;
}


/****************************** FOOTER  ******************************/


.footer-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    margin-top: 60px;
    padding: 20px;
    background-color: var(--color-tercary);
    color: #FFF;
}

#footer-about.footer-page {
    margin-top: 100px;
}

#footer-contact.footer-page {
    position: absolute;
    bottom: 0;
}

.footer-page .address p:first-child {
    margin-bottom: 10px;
}

.footer-page .direct .footer-title {
    margin-top: -10px;
    font-size: 42px;
    font-family: 'Yellowtail', cursive;
}

.footer-page .direct .copyright {
    text-align: center;
    font-size: 14px;
}

.footer-page .icons {
    display: flex;
    justify-content: space-around;
    width: 120px;
    font-size: 23px;
}


